{% extends 'base.html.twig' %}

{% block title %}User Records{% endblock %}

{% block body %}
    <style>
        form {width: 80%; padding-left: 15%}
        .btn-secondary {margin-left: 25px}
    </style>
    <div>
        <h1 style="text-align: center; padding: 25px; font-family: 'Bungee Inline', cursive;">Records of user:</h1>
        <h3 style="text-align: center; padding-bottom: 50px">{{ user.getUsername() }}</h3>
        <form method="GET" action="{{ path('home',{'id': user.getId })}}">
            <div class="form-group row ml-1">
                <label for="dateFrom" class="form-control col-sm-1">Date From</label>
                <input type="date" class="form-control col-sm-4" id="dateFrom" name="dateFrom">
                <label for="dateTo" class="form-control col-sm-1">Date To</label>
                <input type="date" data-date-format="DD MMMM YYYY" class="form-control col-sm-4" id="dateTo" name="dateTo">
                <button type="submit" class="btn btn-secondary">Filter data</button>
            </div>
        </form>
        <table class="table table-striped table-bordered" style="width:80%;text-align: center;margin-left:auto;margin-right:auto;">
            <thead>
            <tr style="justify-content: space-between">
                <th>Date</th>
                <th>Distance</th>
                <th>Time</th>
                <th>Average Speed</th>
            </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.getDate|date('Y-m-d H:i:s') }}</td>
                        <td>{{ record.getDistance }} km</td>
                        <td>{{ record.getTime }} min</td>
                        <td>{{ (record.getDistance / (record.getTime/60)) | round(2) }} km/h</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('edit',{ id : record.getId()})}}">Edit</a>
                        </td>
                        <td>
                            <form method="POST" action="{{ path('record-delete',{'id': record.getId()})}}" class="delete-form">
                                <button type="submit" class="btn btn-primary">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form style="padding-left: 10%" method="POST" action="{{ path('record-store',{'id': user.getId })}}"  class="register-form">
            <h3 style="padding: 25px">Enter new record</h3>
            <div class="form-group row ml-1">
                <label for="distance" class="form-control col-sm-1">Distance</label>
                <input placeholder="Km" type="text" class="form-control col-sm-4" id="distance" name="distance">
            </div>

            <div class="form-group row ml-1" >
                <label for="time" class="form-control col-sm-1">Time</label>
                <input placeholder="min" type="text" class="form-control col-sm-4" id="time" name="time">
            </div>
            <div class="form-group ml-1">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <table class="table table-striped table-bordered" style="width:80%;text-align: center;margin-left:auto;margin-right:auto;">
            <thead>
            <tr style="justify-content: space-between">
                <th>Week</th>
                <th>Average Distance / Week</th>
                <th>Average Time / Week</th>
            </tr>
            </thead>
            <tbody>
            <div style="padding-left: 10%">
                <h3 style="padding: 25px" >Weekly reports</h3>
                <form method="GET" action="{{ path('home',{'id': user.getId })}}">
                    <select  id="week" name="week">
                        {% for week in weeks %}
                            <option value="{{ week }}">{{ week }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">Filter weekly reports</button>
                </form>
                {% if reportDate %}
                <tr>
                    <td> {{ reportDate }} </td>
                    <td>{{ averageDistance | round(2)}} km</td>
                    <td>{{ averageTime | round(2)}} min</td>
                </tr>
                {% endif %}
            </div>
            </tbody>
        </table>
    </div>
{% endblock %}