{% extends 'base.html.twig' %}

{% block title %}Administrator page{% endblock %}

{% block body %}
    <style>
        .user-list { text-align: center}
        .permision { width: 500px}
    </style>
    <div>
       <h1 style="text-align: center">Administrator page</h1>
        <table class="table table-striped table-bordered" style="width:60%;text-align: center;margin-left:auto;margin-right:auto;">
            <thead>
            <tr style="justify-content: space-between">
                <th>Users</th>
                <th>Role</th>
                <th>Delete</th>
                <th class="permision">Change role</th>
            </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class = "user-list">
                    <td><a href="{{ path('home', {'id': user.getId()}) }}">{{ user.getUsername() }}</a></td>
                    {% for role in user.roles %}
                    <td>{{ role }}</td>
                    {% endfor %}

                    <td>
                        <form method="POST" action="{{ path('administrator-delete',{'id': user.getId()})}}" class="delete-form">
                            {% if is_granted('ROLE_ADMINISTRATOR') %}
                            <button type="submit" class="btn btn-primary">Delete user</button>
                            {% endif %}
                        </form>
                    </td>

                    <td>
                        <form method="POST" action="{{ path('administrator-update',{'id': user.getId()})}}" class="update-form">
                            <select  id="role" name="role">
                                <option value="ROLE_USER">ROLE_USER</option>
                                <option value="ROLE_USER_MANAGER">ROLE_USER_MANAGER</option>
                                <option value="ROLE_ADMINISTRATOR">ROLE_ADMINISTRATOR</option>
                            </select>
                            <button type="submit" class="btn btn-primary">Change permission</button>
                        </form>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}