{% extends 'base.html.twig' %}

{% block title %}User Records{% endblock %}

{% block body %}
    <div>
        <h1 style="text-align: center; padding: 25px">Records of user:</h1>
        <h3 style="text-align: center;">{{ user.getUsername() }}</h3>
        <table class="table table-striped table-bordered" style="width:80%;text-align: center;margin-left:auto;margin-right:auto;">
            <thead>
            <tr style="justify-content: space-between">
                <th>Date</th>
                <th>Distance</th>
                <th>Time</th>
                <th>Average Speed</th>
            </tr>
            </thead>
            <tbody>
                {% for record in user.getRecords %}
                    <tr>
                        <td>{{ record.getDate|date('Y-m-d H:i:s') }}</td>
                        <td>{{ record.getDistance }} km</td>
                        <td>{{ record.getTime }} min</td>
                        <td>{{ (record.getDistance / (record.getTime/60)) | round(2) }} km/h</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form style="padding-left: 10%" method="POST" action="{{ path('record-store',{'id': user.getId })}}"  class="register-form">
            <h3 style="padding: 25px">Enter new record</h3>
            <div class="form-group row ml-1">
                <label for="distance" class="form-control col-sm-1">Distance</label>
                <input placeholder="Km" type="text" class="form-control col-sm-4" id="distance" name="distance">
            </div>

            <div class="form-group row ml-1" >
                <label for="time" class="form-control col-sm-1">Time running</label>
                <input placeholder="min" type="text" class="form-control col-sm-4" id="time" name="time">
            </div>
            <div class="form-group ml-1">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}